In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv('fake_customer_data_with_errors.csv')
df=data.copy()

In [3]:
df.head()

,CustomerID,Name,Age,Gender,Email,Phone,PurchaseAmount,PurchaseDate,ProductCategory,Rating,Unnamed,Gender
0,CUST1000,Ali Hassan,72.0,NaN,ali.hassan@gmail.com,123456789.0,837.31,2023-10-12,Books,3.0,NaN,NaN
1,CUST1001,Fatma Ali,NaN,Female,fatma.ali@hotmail.com,NaN,900.25,2023-02-23,NaN,3.0,NaN,Female
2,CUST1002,Ahmed Mahmoud,-1.0,male,ahmed.mahmoud@hotmail.com,NaN,761.72,2023-07-07,Toys,2.0,NaN,male
3,CUST1003,Ahmed Gaber,-1.0,F,ahmed.gaber@gmail.com,NaN,303.72,2023-12-30,NaN,2.0,NaN,F
4,CUST1004,Ali Ibrahim,73.0,M,ali.ibrahim@yahoo.com,987654321.0,635.81,2023-12-07,Clothing,2.0,NaN,M

### DATA Wrangling

In [4]:
df.columns

Index(['CustomerID', 'Name', 'Age', 'Gender', 'Email', 'Phone',
       'PurchaseAmount', 'PurchaseDate', 'ProductCategory', 'Rating',
       'Unnamed', '  Gender  '],
      dtype='object')

In [5]:
df.shape

(2150, 12)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2150 entries, 0 to 2149
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerID       2150 non-null   object
 1   Name             2150 non-null   object
 2   Age              1630 non-null   float64
 3   Gender           1877 non-null   object
 4   Email            2150 non-null   object
 5   Phone            1072 non-null   float64
 6   PurchaseAmount   2049 non-null   float64
 7   PurchaseDate     2150 non-null   object
 8   ProductCategory  1573 non-null   object
 9   Rating           1821 non-null   float64
 10  Unnamed          0 non-null      float64
 11    Gender         1877 non-null   object
dtypes: float64(5), object(7)
memory usage: 201.7+ KB

In [7]:
df.describe(include='all')

,CustomerID,Name,Age,Gender,Email,Phone,PurchaseAmount,PurchaseDate,ProductCategory,Rating,Unnamed,Gender
count,2150,2150,1630.000000,1877,2150,1.072000e+03,2049.000000,2150,1573,1821.000000,0.0,1877
unique,2100,48,NaN,6,144,NaN,NaN,860,5,NaN,NaN,6
top,CUST1231,Sara Gaber,NaN,M,sara.hassan@yahoo.com,NaN,NaN,32/13/2020,Clothing,NaN,NaN,M
freq,2,60,NaN,346,26,NaN,NaN,122,332,NaN,NaN,346
mean,NaN,NaN,85.180982,NaN,NaN,5.668417e+08,509.418882,NaN,NaN,4.183416,NaN,NaN
std,NaN,NaN,86.794111,NaN,NaN,4.321530e+08,288.257697,NaN,NaN,2.871300,NaN,NaN
min,NaN,NaN,-1.000000,NaN,NaN,1.234568e+08,5.060000,NaN,NaN,1.000000,NaN,NaN
25%,NaN,NaN,-1.000000,NaN,NaN,1.234568e+08,263.680000,NaN,NaN,2.000000,NaN,NaN
50%,NaN,NaN,54.000000,NaN,NaN,9.876543e+08,519.250000,NaN,NaN,3.000000,NaN,NaN
75%,NaN,NaN,200.000000,NaN,NaN,9.876543e+08,762.910000,NaN,NaN,5.000000,NaN,NaN
max,NaN,NaN,200.000000,NaN,NaN,9.876543e+08,999.560000,NaN,NaN,10.000000,NaN,NaN

In [8]:
df.columns= df.columns.str.lower()

In [9]:
df.duplicated().sum()

np.int64(50)

In [10]:
df.nunique()

customerid         2100
name                 48
age                  78
gender                6
email               144
phone                 2
purchaseamount     1991
purchasedate        860
productcategory       5
rating                6
unnamed               0
  gender              6
dtype: int64

In [11]:
df.isna().sum()

customerid            0
name                  0
age                 520
gender              273
email                 0
phone              1078
purchaseamount      101
purchasedate          0
productcategory     577
rating              329
unnamed            2150
  gender            273
dtype: int64

#### Cleaning DATA

In [12]:
df.columns

Index(['customerid', 'name', 'age', 'gender', 'email', 'phone',
       'purchaseamount', 'purchasedate', 'productcategory', 'rating',
       'unnamed', '  gender  '],
      dtype='object')

In [13]:
df.drop(columns=['unnamed', '  gender  '],inplace=True)

In [14]:
df.sample(2)

,customerid,name,age,gender,email,phone,purchaseamount,purchasedate,productcategory,rating
1230,CUST2230,Lina Hassan,200.0,Female,lina.hassan@yahoo.com,987654321.0,98.10,2024-10-05,NaN,1.0
1038,CUST2038,Ali Smith,72.0,NaN,ali.smith@yahoo.com,NaN,505.12,2023-05-14,Toys,4.0

In [15]:
df.duplicated().sum()

np.int64(50)

In [16]:
df[df.duplicated()]

,customerid,name,age,gender,email,phone,purchaseamount,purchasedate,productcategory,rating
2100,CUST2034,Ali Mahmoud,-1.0,male,ali.mahmoud@hotmail.com,987654321.0,335.36,2024-07-17,NaN,3.0
2101,CUST2176,Ali Ibrahim,200.0,F,ali.ibrahim@gmail.com,123456789.0,36.36,2023-12-15,NaN,1.0
2102,CUST1067,Sara Gaber,NaN,NaN,sara.gaber@yahoo.com,123456789.0,85.14,32/13/2020,Clothing,NaN
2103,CUST2330,John Gaber,200.0,M,john.gaber@gmail.com,NaN,37.03,2025-03-26,NaN,3.0
2104,CUST1650,Lina Ibrahim,200.0,M,lina.ibrahim@hotmail.com,987654321.0,304.37,2023-05-26,NaN,5.0
2105,CUST2868,Sara Mahmoud,-1.0,male,sara.mahmoud@gmail.com,NaN,743.05,2024-09-08,Clothing,2.0
2106,CUST1986,Sara Ali,90.0,female,sara.ali@hotmail.com,NaN,558.91,2023-07-07,Home,5.0
2107,CUST1552,Fatma Gaber,NaN,female,fatma.gaber@yahoo.com,987654321.0,432.89,2023-02-17,Electronics,2.0
2108,CUST2427,Fatma Mahmoud,200.0,Male,fatma.mahmoud@gmail.com,NaN,913.58,2024-10-18,NaN,NaN
2109,CUST2668,Mark Hassan,NaN,M,mark.hassan@yahoo.com,NaN,NaN,32/13/2020,Toys,4.0
2110,CUST2574,Sara Mahmoud,44.0,female,sara.mahmoud@yahoo.com,123456789.0,790.69,2024-10-21,Toys,3.0
2111,CUST2317,Fatma Hassan,200.0,F,fatma.hassan@yahoo.com,NaN,NaN,2024-03-16,Clothing,3.0
2112,CUST1494,Ahmed Hassan,NaN,female,ahmed.hassan@hotmail.com,123456789.0,778.69,2023-04-08,NaN,4.0
2113,CUST2978,Alaa Ibrahim,34.0,Female,alaa.ibrahim@yahoo.com,NaN,751.31,2023-11-08,Home,NaN
2114,CUST2760,Fatma Smith,-1.0,Female,fatma.smith@hotmail.com,123456789.0,179.72,2025-01-13,Books,3.0
2115,CUST1865,Lina Hassan,200.0,male,lina.hassan@hotmail.com,NaN,130.88,2024-06-16,Home,5.0
2116,CUST1529,Sara Gaber,78.0,Female,sara.gaber@hotmail.com,987654321.0,880.22,2023-08-21,Books,4.0
2117,CUST2501,Fatma Gaber,-1.0,NaN,fatma.gaber@yahoo.com,NaN,323.91,2023-10-01,Clothing,10.0
2118,CUST1070,Mark Mahmoud,81.0,F,mark.mahmoud@gmail.com,NaN,330.97,2024-08-30,Clothing,2.0
2119,CUST2848,Alaa Ali,47.0,M,alaa.ali@gmail.com,123456789.0,524.07,2023-04-09,Clothing,5.0
2120,CUST2448,Lina Hassan,35.0,F,lina.hassan@yahoo.com,123456789.0,539.08,2023-05-08,NaN,2.0
2121,CUST1571,Alaa Ali,66.0,NaN,alaa.ali@yahoo.com,NaN,987.40,2025-05-02,Electronics,NaN
2122,CUST1420,Lina Gaber,50.0,Male,lina.gaber@gmail.com,NaN,607.73,2023-12-30,Home,10.0
2123,CUST1948,Ali Hassan,NaN,Female,ali.hassan@yahoo.com,123456789.0,348.05,2024-05-02,Clothing,10.0
2124,CUST2420,John Mahmoud,200.0,M,john.mahmoud@hotmail.com,987654321.0,865.23,32/13/2020,Toys,1.0
2125,CUST3007,Mark Mahmoud,200.0,female,mark.mahmoud@hotmail.com,123456789.0,701.88,2024-12-29,Toys,4.0
2126,CUST2193,Ali Hassan,NaN,Male,ali.hassan@gmail.com,987654321.0,314.57,2024-03-19,Home,4.0
2127,CUST2571,John Smith,-1.0,NaN,john.smith@hotmail.com,987654321.0,595.21,2024-10-02,Electronics,1.0
2128,CUST2192,Fatma Hassan,-1.0,female,fatma.hassan@yahoo.com,123456789.0,382.28,2024-02-25,NaN,10.0
2129,CUST1583,Sara Hassan,200.0,F,sara.hassan@gmail.com,987654321.0,549.44,2023-12-18,Clothing,5.0
2130,CUST1051,Ali Smith,-1.0,M,ali.smith@yahoo.com,NaN,968.44,2024-07-01,Home,2.0
2131,CUST2444,Ali Ali,NaN,M,ali.ali@hotmail.com,NaN,200.94,2023-03-02,NaN,NaN
2132,CUST2287,Fatma Mahmoud,-1.0,female,fatma.mahmoud@gmail.com,NaN,704.74,32/13/2020,Toys,NaN
2133,CUST2124,Fatma Ibrahim,-1.0,NaN,fatma.ibrahim@gmail.com,987654321.0,NaN,2025-05-06,Toys,5.0
2134,CUST1029,John Mahmoud,67.0,F,john.mahmoud@hotmail.com,NaN,387.63,2024-02-28,Books,4.0
2135,CUST2220,Fatma Mahmoud,37.0,NaN,fatma.mahmoud@yahoo.com,987654321.0,92.52,2024-06-24,Home,3.0
2136,CUST1479,Lina Gaber,NaN,F,lina.gaber@gmail.com,987654321.0,NaN,2024-10-11,Books,10.0
2137,CUST2374,Ali Smith,200.0,Male,ali.smith@yahoo.com,123456789.0,272.72,2023-05-14,Electronics,3.0
2138,CUST2087,Lina Ibrahim,NaN,F,lina.ibrahim@gmail.com,NaN,384.38,2024-08-07,Books,5.0
2139,CUST1231,Ahmed Smith,NaN,female,ahmed.smith@yahoo.com,NaN,610.21,2023-03-23,NaN,10.0
2140,CUST2259,Mark Smith,-1.0,M,mark.smith@yahoo.com,987654321.0,653.34,2023-02-12,Home,4.0
2141,CUST1212,Sara Ibrahim,200.0,M,sara.ibrahim@hotmail.com,987654321.0,859.82,2025-06-22,Toys,5.0
2142,CUST1307,Fatma Hassan,NaN,F,fatma.hassan@gmail.com,987654321.0,137.52,2024-07-17,Home,5.0
2143,CUST1727,Mark Mahmoud,NaN,female,mark.mahmoud@yahoo.com,NaN,860.56,2023-05-17,NaN,10.0
2144,CUST2362,John Mahmoud,200.0,female,john.mahmoud@hotmail.com,123456789.0,297.31,2025-01-06,Home,2.0
2145,CUST1447,Mark Mahmoud,66.0,male,mark.mahmoud@hotmail.com,987654321.0,462.47,2023-08-04,Toys,5.0
2146,CUST1381,Fatma Hassan,NaN,M,fatma.hassan@yahoo.com,NaN,237.62,2024-01-28,Toys,5.0
2147,CUST2338,Ali Gaber,-1.0,M,ali.gaber@gmail.com,NaN,174.72,2024-09-29,Books,NaN
2148,CUST1694,John Ali,200.0,Female,john.ali@yahoo.com,987654321.0,250.47,2024-02-05,NaN,5.0
2149,CUST1567,Ahmed Hassan,NaN,male,ahmed.hassan@yahoo.com,123456789.0,891.41,2023-10-13,Clothing,3.0

In [17]:
df[df.duplicated(keep=False)]

,customerid,name,age,gender,email,phone,purchaseamount,purchasedate,productcategory,rating
29,CUST1029,John Mahmoud,67.0,F,john.mahmoud@hotmail.com,NaN,387.63,2024-02-28,Books,4.0
51,CUST1051,Ali Smith,-1.0,M,ali.smith@yahoo.com,NaN,968.44,2024-07-01,Home,2.0
67,CUST1067,Sara Gaber,NaN,NaN,sara.gaber@yahoo.com,123456789.0,85.14,32/13/2020,Clothing,NaN
70,CUST1070,Mark Mahmoud,81.0,F,mark.mahmoud@gmail.com,NaN,330.97,2024-08-30,Clothing,2.0
212,CUST1212,Sara Ibrahim,200.0,M,sara.ibrahim@hotmail.com,987654321.0,859.82,2025-06-22,Toys,5.0
...,...,...,...,...,...,...,...,...,...,...
2145,CUST1447,Mark Mahmoud,66.0,male,mark.mahmoud@hotmail.com,987654321.0,462.47,2023-08-04,Toys,5.0
2146,CUST1381,Fatma Hassan,NaN,M,fatma.hassan@yahoo.com,NaN,237.62,2024-01-28,Toys,5.0
2147,CUST2338,Ali Gaber,-1.0,M,ali.gaber@gmail.com,NaN,174.72,2024-09-29,Books,NaN
2148,CUST1694,John Ali,200.0,Female,john.ali@yahoo.com,987654321.0,250.47,2024-02-05,NaN,5.0
2149,CUST1567,Ahmed Hassan,NaN,male,ahmed.hassan@yahoo.com,123456789.0,891.41,2023-10-13,Clothing,3.0

In [18]:
df['name'][df['name'].duplicated()].nunique

<bound method IndexOpsMixin.nunique of 15        Ali Ibrahim
18           Alaa Ali
20         Lina Gaber
22      Ahmed Mahmoud
23       Lina Ibrahim
            ...
2145     Mark Mahmoud
2146     Fatma Hassan
2147        Ali Gaber
2148         John Ali
2149     Ahmed Hassan
Name: name, Length: 2102, dtype: object>

In [19]:
df=df.rename(columns={'customerid' : 'customer_id' ,
                   'purchaseamount' : 'purchase_amount' ,
                  'purchasedate' : 'purchase_date' ,
                  'productcategory' : 'product_category' })

In [20]:
df['name'].value_counts()

name
Sara Gaber       60
Fatma Hassan     59
Sara Hassan      59
John Mahmoud     57
Alaa Smith       57
Sara Smith       54
Lina Ibrahim     54
Ali Smith        53
Fatma Gaber      52
Ali Hassan       52
Sara Ali         52
Fatma Ibrahim    51
Alaa Gaber       49
Ahmed Hassan     48
Ali Ali          48
John Smith       48
Fatma Smith      47
Lina Hassan      47
Alaa Ali         46
Ahmed Smith      45
Lina Gaber       45
Lina Smith       45
Ahmed Ibrahim    45
Sara Mahmoud     44
Mark Mahmoud     44
Lina Mahmoud     44
Mark Ali         43
Fatma Mahmoud    42
John Hassan      42
Ahmed Ali        42
Ali Mahmoud      41
Sara Ibrahim     41
Ali Gaber        41
John Ibrahim     41
Alaa Mahmoud     41
Mark Hassan      40
Ali Ibrahim      40
Alaa Hassan      39
Mark Smith       39
Alaa Ibrahim     38
Fatma Ali        38
Mark Ibrahim     38
Lina Ali         36
Ahmed Mahmoud    35
John Gaber       35
Ahmed Gaber      34
John Ali         31
Mark Gaber       28
Name: count, dtype: int64

In [21]:
df[(df['name'] == 'Mark Gaber')&(df.duplicated(subset=['name']))]

,customer_id,name,age,gender,email,phone,purchase_amount,purchase_date,product_category,rating
148,CUST1148,Mark Gaber,-1.0,Male,mark.gaber@gmail.com,NaN,323.94,2023-09-17,NaN,2.0
259,CUST1259,Mark Gaber,-1.0,NaN,mark.gaber@hotmail.com,NaN,251.68,2023-11-07,Toys,NaN
286,CUST1286,Mark Gaber,NaN,female,mark.gaber@hotmail.com,NaN,584.75,2023-10-29,NaN,5.0
293,CUST1293,Mark Gaber,-1.0,female,mark.gaber@yahoo.com,123456789.0,823.05,2022-12-08,Home,3.0
402,CUST1402,Mark Gaber,200.0,M,mark.gaber@gmail.com,NaN,517.27,2023-10-25,Home,10.0
456,CUST1456,Mark Gaber,-1.0,M,mark.gaber@gmail.com,NaN,934.35,2023-12-09,Home,NaN
459,CUST1459,Mark Gaber,NaN,F,mark.gaber@hotmail.com,NaN,855.43,2025-05-29,NaN,5.0
648,CUST1648,Mark Gaber,-1.0,male,mark.gaber@gmail.com,NaN,568.45,2024-09-20,NaN,NaN
763,CUST1763,Mark Gaber,-1.0,Female,mark.gaber@gmail.com,987654321.0,635.27,2024-12-10,Books,3.0
788,CUST1788,Mark Gaber,32.0,F,mark.gaber@hotmail.com,123456789.0,515.89,2024-12-16,NaN,1.0
867,CUST1867,Mark Gaber,200.0,Female,mark.gaber@yahoo.com,123456789.0,973.32,2023-12-21,NaN,3.0
926,CUST1926,Mark Gaber,NaN,female,mark.gaber@hotmail.com,NaN,147.58,2024-11-20,Toys,10.0
1218,CUST2218,Mark Gaber,20.0,M,mark.gaber@yahoo.com,NaN,610.87,2024-12-03,Electronics,1.0
1310,CUST2310,Mark Gaber,34.0,Female,mark.gaber@hotmail.com,NaN,65.40,2025-06-30,Books,5.0
1319,CUST2319,Mark Gaber,85.0,Female,mark.gaber@hotmail.com,NaN,106.06,2022-11-13,Clothing,1.0
1440,CUST2440,Mark Gaber,-1.0,M,mark.gaber@gmail.com,NaN,491.42,2024-05-14,Electronics,10.0
1614,CUST2614,Mark Gaber,200.0,Male,mark.gaber@yahoo.com,123456789.0,813.50,2024-12-19,Electronics,5.0
1625,CUST2625,Mark Gaber,81.0,female,mark.gaber@hotmail.com,NaN,941.34,2023-06-03,Clothing,1.0
1639,CUST2639,Mark Gaber,38.0,female,mark.gaber@hotmail.com,NaN,649.09,2024-12-23,Toys,2.0
1786,CUST2786,Mark Gaber,82.0,female,mark.gaber@yahoo.com,123456789.0,909.17,2023-11-20,NaN,3.0
1805,CUST2805,Mark Gaber,NaN,Female,mark.gaber@hotmail.com,NaN,237.43,2024-12-09,Clothing,1.0
1823,CUST2823,Mark Gaber,26.0,M,mark.gaber@yahoo.com,123456789.0,152.69,2023-02-01,Books,3.0
1880,CUST2880,Mark Gaber,200.0,M,mark.gaber@hotmail.com,987654321.0,176.42,2023-01-17,Electronics,1.0
1966,CUST2966,Mark Gaber,NaN,F,mark.gaber@hotmail.com,NaN,458.46,2024-07-14,Home,2.0
1982,CUST2982,Mark Gaber,16.0,F,mark.gaber@gmail.com,987654321.0,983.11,2023-06-20,Electronics,5.0
2010,CUST3010,Mark Gaber,-1.0,M,mark.gaber@gmail.com,NaN,221.80,2024-07-20,Electronics,3.0
2072,CUST3072,Mark Gaber,-1.0,male,mark.gaber@gmail.com,NaN,706.57,2025-06-13,NaN,5.0

In [22]:
df[df.duplicated(subset =['name'])]

,customer_id,name,age,gender,email,phone,purchase_amount,purchase_date,product_category,rating
15,CUST1015,Ali Ibrahim,18.0,female,ali.ibrahim@hotmail.com,123456789.0,337.49,2024-06-25,Home,1.0
18,CUST1018,Alaa Ali,15.0,Female,alaa.ali@hotmail.com,123456789.0,923.50,2024-01-04,Toys,1.0
20,CUST1020,Lina Gaber,NaN,M,lina.gaber@hotmail.com,NaN,667.69,2023-04-27,Clothing,NaN
22,CUST1022,Ahmed Mahmoud,-1.0,NaN,ahmed.mahmoud@gmail.com,NaN,22.02,2025-02-22,Electronics,1.0
23,CUST1023,Lina Ibrahim,44.0,M,lina.ibrahim@yahoo.com,123456789.0,389.24,32/13/2020,Clothing,10.0
...,...,...,...,...,...,...,...,...,...,...
2145,CUST1447,Mark Mahmoud,66.0,male,mark.mahmoud@hotmail.com,987654321.0,462.47,2023-08-04,Toys,5.0
2146,CUST1381,Fatma Hassan,NaN,M,fatma.hassan@yahoo.com,NaN,237.62,2024-01-28,Toys,5.0
2147,CUST2338,Ali Gaber,-1.0,M,ali.gaber@gmail.com,NaN,174.72,2024-09-29,Books,NaN
2148,CUST1694,John Ali,200.0,Female,john.ali@yahoo.com,987654321.0,250.47,2024-02-05,NaN,5.0
2149,CUST1567,Ahmed Hassan,NaN,male,ahmed.hassan@yahoo.com,123456789.0,891.41,2023-10-13,Clothing,3.0

In [23]:
df.columns

Index(['customer_id', 'name', 'age', 'gender', 'email', 'phone',
       'purchase_amount', 'purchase_date', 'product_category', 'rating'],
      dtype='object')

In [24]:
for i in df.columns :
    print(f"count of {i} : ")
    print(df[i].nunique())
    print('\n')

count of customer_id :
2100


count of name :
48


count of age :
78


count of gender :
6


count of email :
144


count of phone :
2


count of purchase_amount :
1991


count of purchase_date :
860


count of product_category :
5


count of rating :
6

In [25]:
for i in df.columns :
    print(f"describtion of {i} : ")
    print(df[i].describe())
    print('\n')

describtion of customer_id :
count         2150
unique        2100
top       CUST1231
freq             2
Name: customer_id, dtype: object


describtion of name :
count           2150
unique            48
top       Sara Gaber
freq              60
Name: name, dtype: object


describtion of age :
count    1630.000000
mean       85.180982
std        86.794111
min        -1.000000
25%        -1.000000
50%        54.000000
75%       200.000000
max       200.000000
Name: age, dtype: float64


describtion of gender :
count     1877
unique       6
top          M
freq       346
Name: gender, dtype: object


describtion of email :
count                      2150
unique                      144
top       sara.hassan@yahoo.com
freq                         26
Name: email, dtype: object


describtion of phone :
count    1.072000e+03
mean     5.668417e+08
std      4.321530e+08
min      1.234568e+08
25%      1.234568e+08
50%      9.876543e+08
75%      9.876543e+08
max      9.876543e+08
Name: phone, dtype: float64


describtion of purchase_amount :
count    2049.000000
mean      509.418882
std       288.257697
min         5.060000
25%       263.680000
50%       519.250000
75%       762.910000
max       999.560000
Name: purchase_amount, dtype: float64


describtion of purchase_date :
count           2150
unique           860
top       32/13/2020
freq             122
Name: purchase_date, dtype: object


describtion of product_category :
count         1573
unique           5
top       Clothing
freq           332
Name: product_category, dtype: object


describtion of rating :
count    1821.000000
mean        4.183416
std         2.871300
min         1.000000
25%         2.000000
50%         3.000000
75%         5.000000
max        10.000000
Name: rating, dtype: float64

In [26]:
df.head()

,customer_id,name,age,gender,email,phone,purchase_amount,purchase_date,product_category,rating
0,CUST1000,Ali Hassan,72.0,NaN,ali.hassan@gmail.com,123456789.0,837.31,2023-10-12,Books,3.0
1,CUST1001,Fatma Ali,NaN,Female,fatma.ali@hotmail.com,NaN,900.25,2023-02-23,NaN,3.0
2,CUST1002,Ahmed Mahmoud,-1.0,male,ahmed.mahmoud@hotmail.com,NaN,761.72,2023-07-07,Toys,2.0
3,CUST1003,Ahmed Gaber,-1.0,F,ahmed.gaber@gmail.com,NaN,303.72,2023-12-30,NaN,2.0
4,CUST1004,Ali Ibrahim,73.0,M,ali.ibrahim@yahoo.com,987654321.0,635.81,2023-12-07,Clothing,2.0

In [27]:
df['age'].isna().sum()

np.int64(520)

In [28]:
df.loc[(df['age']<0) | (df['age']>90) , 'age'] = np.nan

In [29]:
df['age'].isna().sum()

np.int64(1643)

In [30]:
df['age'].notna().sum()

np.int64(507)

### Here we have to check if the age is critical ,  if it is so they have to send complete data else drop

In [31]:
df=df.drop(columns='age')

In [32]:
df.isna().sum()

customer_id            0
name                   0
gender               273
email                  0
phone               1078
purchase_amount      101
purchase_date          0
product_category     577
rating               329
dtype: int64

In [33]:
df['gender'].value_counts()

gender
M         346
Female    314
Male      313
male      303
F         302
female    299
Name: count, dtype: int64

In [34]:
df['gender']=df['gender'].str.lower().replace({'m': 'male',
    'male': 'male',
    'f': 'female',
    'female': 'female'
})

In [35]:
df['gender'].value_counts()

gender
male      962
female    915
Name: count, dtype: int64

In [36]:
df['gender'].isna().sum()

np.int64(273)

In [37]:
df[df['gender']=='male']['name'].unique()

array(['Ahmed Mahmoud', 'Ali Ibrahim', 'Mark Ali', 'John Hassan',
       'Ahmed Smith', 'Sara Smith', 'Lina Gaber', 'Alaa Ali',
       'John Mahmoud', 'Ahmed Ibrahim', 'Fatma Ibrahim', 'Lina Ibrahim',
       'Sara Mahmoud', 'Ahmed Hassan', 'Lina Smith', 'Lina Mahmoud',
       'Mark Gaber', 'Sara Hassan', 'Alaa Mahmoud', 'John Gaber',
       'Fatma Mahmoud', 'Ali Smith', 'Ali Hassan', 'Ali Gaber',
       'Sara Ali', 'Ali Ali', 'Ali Mahmoud', 'Lina Hassan', 'Fatma Smith',
       'Lina Ali', 'Mark Mahmoud', 'John Ali', 'Sara Gaber',
       'Fatma Gaber', 'Fatma Hassan', 'John Smith', 'Mark Hassan',
       'Alaa Gaber', 'Ahmed Ali', 'Sara Ibrahim', 'Alaa Smith',
       'Ahmed Gaber', 'John Ibrahim', 'Alaa Hassan', 'Mark Ibrahim',
       'Alaa Ibrahim', 'Mark Smith', 'Fatma Ali'], dtype=object)

In [38]:
df=df.dropna(subset=['gender'])

In [39]:
df['gender'].isna().sum()

np.int64(0)

#### THis gender nulls and errors solved by manually iteration name by name , or send the right data

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1877 entries, 1 to 2149
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       1877 non-null   object
 1   name              1877 non-null   object
 2   gender            1877 non-null   object
 3   email             1877 non-null   object
 4   phone             940 non-null    float64
 5   purchase_amount   1784 non-null   float64
 6   purchase_date     1877 non-null   object
 7   product_category  1377 non-null   object
 8   rating            1591 non-null   float64
dtypes: float64(3), object(6)
memory usage: 146.6+ KB

In [41]:
df['phone'].value_counts()

phone
987654321.0    480
123456789.0    460
Name: count, dtype: int64

In [42]:
df=df.dropna(subset=['phone'])

In [43]:
df[['purchase_amount' , 'product_category'  ]]=df[['purchase_amount' , 'product_category'  ]].fillna('Unknown')

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 940 entries, 4 to 2149
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       940 non-null    object
 1   name              940 non-null    object
 2   gender            940 non-null    object
 3   email             940 non-null    object
 4   phone             940 non-null    float64
 5   purchase_amount   940 non-null    object
 6   purchase_date     940 non-null    object
 7   product_category  940 non-null    object
 8   rating            809 non-null    float64
dtypes: float64(2), object(7)
memory usage: 73.4+ KB

In [45]:
df[df['purchase_date'].isna()]

Empty DataFrame
Columns: [customer_id, name, gender, email, phone, purchase_amount, purchase_date, product_category, rating]
Index: []

In [46]:
df[['purchase_date' , 'rating']]=df[['purchase_date' , 'rating']].fillna('Unknown')

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 940 entries, 4 to 2149
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       940 non-null    object
 1   name              940 non-null    object
 2   gender            940 non-null    object
 3   email             940 non-null    object
 4   phone             940 non-null    float64
 5   purchase_amount   940 non-null    object
 6   purchase_date     940 non-null    object
 7   product_category  940 non-null    object
 8   rating            940 non-null    object
dtypes: float64(1), object(8)
memory usage: 73.4+ KB

### Change dt from obj

In [48]:
#df=df.apply(lambda col:pd.to_numeric(col,errors='coerce') if col.dtype=='O' else col)

In [49]:
# better to try that on var first not on real df

In [50]:
df[['purchase_amount', 'rating', 'phone']] = df[['purchase_amount', 'rating', 'phone']].apply(pd.to_numeric, errors='coerce')

In [51]:
df['gender']=df['gender'].map({'male': 1, 'female': 0})

In [52]:
df.head()

,customer_id,name,gender,email,phone,purchase_amount,purchase_date,product_category,rating
4,CUST1004,Ali Ibrahim,1,ali.ibrahim@yahoo.com,987654321.0,635.81,2023-12-07,Clothing,2.0
5,CUST1005,Alaa Ibrahim,0,alaa.ibrahim@hotmail.com,987654321.0,886.26,2025-01-16,Unknown,2.0
7,CUST1007,Alaa Hassan,0,alaa.hassan@hotmail.com,987654321.0,318.43,2024-05-17,Toys,10.0
10,CUST1010,Ahmed Smith,1,ahmed.smith@gmail.com,987654321.0,882.19,2025-06-24,Unknown,3.0
15,CUST1015,Ali Ibrahim,0,ali.ibrahim@hotmail.com,123456789.0,337.49,2024-06-25,Home,1.0

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 940 entries, 4 to 2149
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       940 non-null    object
 1   name              940 non-null    object
 2   gender            940 non-null    int64
 3   email             940 non-null    object
 4   phone             940 non-null    float64
 5   purchase_amount   898 non-null    float64
 6   purchase_date     940 non-null    object
 7   product_category  940 non-null    object
 8   rating            809 non-null    float64
dtypes: float64(3), int64(1), object(5)
memory usage: 73.4+ KB

In [54]:
df['purchase_date']=pd.to_datetime(df['purchase_date'])

ValueError: time data "32/13/2020" doesn't match format "%Y-%m-%d", at position 7. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [56]:
df['purchase_date'].dtype

dtype('O')

In [61]:
df.loc[pd.to_datetime(df['purchase_date'], errors='coerce', dayfirst=True).isna(), 'purchase_date']

5       2025-01-16
7       2024-05-17
10      2025-06-24
15      2024-06-25
19      32/13/2020
           ...
2129    2023-12-18
2137    2023-05-14
2141    2025-06-22
2142    2024-07-17
2149    2023-10-13
Name: purchase_date, Length: 584, dtype: object

In [62]:
df[pd.to_datetime(df['purchase_date'], errors='coerce', dayfirst=True).isna()]

,customer_id,name,gender,email,phone,purchase_amount,purchase_date,product_category,rating
5,CUST1005,Alaa Ibrahim,0,alaa.ibrahim@hotmail.com,987654321.0,886.26,2025-01-16,Unknown,2.0
7,CUST1007,Alaa Hassan,0,alaa.hassan@hotmail.com,987654321.0,318.43,2024-05-17,Toys,10.0
10,CUST1010,Ahmed Smith,1,ahmed.smith@gmail.com,987654321.0,882.19,2025-06-24,Unknown,3.0
15,CUST1015,Ali Ibrahim,0,ali.ibrahim@hotmail.com,123456789.0,337.49,2024-06-25,Home,1.0
19,CUST1019,Ahmed Ibrahim,1,ahmed.ibrahim@yahoo.com,123456789.0,497.45,32/13/2020,Unknown,1.0
...,...,...,...,...,...,...,...,...,...
2129,CUST1583,Sara Hassan,0,sara.hassan@gmail.com,987654321.0,549.44,2023-12-18,Clothing,5.0
2137,CUST2374,Ali Smith,1,ali.smith@yahoo.com,123456789.0,272.72,2023-05-14,Electronics,3.0
2141,CUST1212,Sara Ibrahim,1,sara.ibrahim@hotmail.com,987654321.0,859.82,2025-06-22,Toys,5.0
2142,CUST1307,Fatma Hassan,0,fatma.hassan@gmail.com,987654321.0,137.52,2024-07-17,Home,5.0
2149,CUST1567,Ahmed Hassan,1,ahmed.hassan@yahoo.com,123456789.0,891.41,2023-10-13,Clothing,3.0

In [63]:
df['purchase_date'] = pd.to_datetime(df['purchase_date'], errors='coerce', dayfirst=True)
df['purchase_date'] = df['purchase_date'].fillna('Unknown')

In [70]:
df.loc[df['purchase_date'] == 'Unknown', 'purchase_date'] = np.nan
df['purchase_date'] = pd.to_datetime(df['purchase_date'], errors='coerce', dayfirst=True)

In [71]:
df['purchase_date'] = pd.to_datetime(df['purchase_date'], errors='coerce', dayfirst=True)

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 940 entries, 4 to 2149
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       940 non-null    object
 1   name              940 non-null    object
 2   gender            940 non-null    int64
 3   email             940 non-null    object
 4   phone             940 non-null    float64
 5   purchase_amount   898 non-null    float64
 6   purchase_date     356 non-null    datetime64[ns]
 7   product_category  940 non-null    object
 8   rating            809 non-null    float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 73.4+ KB

In [73]:
df = df.dropna(subset=['purchase_date', 'purchase_amount','rating'])

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 302 entries, 4 to 2148
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       302 non-null    object
 1   name              302 non-null    object
 2   gender            302 non-null    int64
 3   email             302 non-null    object
 4   phone             302 non-null    float64
 5   purchase_amount   302 non-null    float64
 6   purchase_date     302 non-null    datetime64[ns]
 7   product_category  302 non-null    object
 8   rating            302 non-null    float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 23.6+ KB

### The Data is bad and not sufficient but its clean .

In [75]:
df.to_csv("cleaned_df.csv",index=False)

In [77]:
import os

In [78]:
os.getcwd()

'C:\\Users\\abdo_\\My_Current_scratching'